@import 'tailwindcss';

body{
  background: #000;
}

#html5qrcode-container video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 0.75rem !important;
}

.aurora-container {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw !important;
  height: 100vh !important;
  pointer-events: none;
  z-index: 0;
}

.aurora-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
